config.json
.ipynb_checkpoints
__pycache__
*.pyc
.DS_Store

Archive/*
data/*.csv
data/follower_ids/*.csv
data/tweets/*.csv
data/users/*.csv
data/mentions_and_hashtags/*.csv
data/final_data/*
accesstoken.csv

!data/follower_ids/.gitkeep
!data/tweets/.gitkeep
!data/users/.gitkeep
